body {
  font-family: system-ui, sans-serif;
}

main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

canvas {
  outline: 1px solid red;
}

canvas:focus {
  outline: 3px solid red;
}
